/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {background: pink;}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: pink;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: pink;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: pink;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}

header{
  position: absolute;
  background-color: #D3D3D3;
  width: 100%;
  color: #D3D3D3;
}

footer{
  position: absolute;
  background-color: #D3D3D3;
  width: 100%;
  color: #D3D3D3;
}